/Amélie_clarinette_V1 (pb cadrage).mp4
/Amélie_clarinette_recadre.mp4
/Anne-sonia_clarinette_totoro.mp4
/Cecile_clarinette_totoro.mp4
/Cecile_clarinette_totoro_recadre.mp4
/Ineke_clarinette_totoro.mp4
/Natacha_clarinette_totoro.mp4
/Nelly_clarinette_totoro.mp4
/OneDrive-2020-04-20.zip
/PierreG_clarinette_totoro.mp4
/Pierre_G_clarinette_V1.mp4
/Pierre_clarinette_totoro.mp4
/Pierre_clarinette_totoro_recadre.mp4
/Stephane_clarinette_totoro.mp4
/Violette_clarinette_totoro.mp4
